@media only screen {
	.findlegislator-form{
		&.hidden{
			display: none;
		}
	}
	.findlegislator{
		background-color: $orange;
		padding: 20px;
	}
	.findlegislator-title{
		@include font-style('h6');
		text-align: center;
		color: $white;
		margin-bottom: 20px;
	}
	.findlegislator-email,
	.findlegislator-form{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		br{
			display: none;
			position: absolute;
		}
	}
	.findlegislator-email{
		display: none;
		&.visible{
			display: block;
			padding-top: 40px;
		}
	}
	.findlegislator-email-textarea{
		@include textinput();
		width: 100%;
		grid-column: 1 / 3;
		min-height: 200px;
		margin-bottom: 20px;
	}

	.findlegislator-form-input{
		@include textinput();
		transition: border-color 0.25s ease;
		border: 1px solid transparent;
		&:nth-child(1){
			width: 100%;
			grid-column: 1 / 3;
		}
		&:nth-child(2){
			width: 100%;
		}
		&:focus{
			border: 1px solid $black;
		}
	}
	.findlegislator-email-submit,
	.findlegislator-form-submit{
		box-sizing: border-box;
		appearance: none;
		@include cta();
		margin-top: 0px;
		border: 0px;
		left: 0px;
		transform: translateX(0%);
		cursor: pointer;
	}
	.findlegislator-email-input{
		@include textinput();
		margin-bottom: 20px;
		&:nth-child(1),
		&:nth-child(2){
			width: 100%;
		}
	}
	.findlegislator-legislators{
		&.hidden{
			display: none;
		}
	}
	.findlegislator-legislators-legislator{
		padding-top: 40px;
		padding-right: 40px;
		display: inline-block;
	}
	.findlegislator-legislators-legislator-text{
		color: $white;
		@include font-style('h6c');
	}
	.findlegislator-messages{
		text-align: center;
		padding: 20px;
		@include font-style('h6c');
		color: $white;
	}
}

@media only screen and (min-width: $small){

}

@media only screen and (min-width: $medium){
	.findlegislator{
		padding: 40px 60px;
	}
	.findlegislator-title{
		@include font-style('h2');
	}
	.findlegislator-legislators-legislator{
		max-width: 50%;
		vertical-align: top;
	}
	.findlegislator-form{
		grid-template-columns: repeat(4, 1fr);
	}
	.findlegislator-email-textarea{
		min-height: 500px;
	}
}
@media only screen and (min-width: $xlarge){
	.findlegislator-legislators-legislator{
		max-width: 25%;
		vertical-align: top;
	}
	.findlegislator-email-textarea{
		min-height: 400px;
	}
}
