@media only screen {
	.single{
		img.alignleft{
			float: left;
			margin-right: 10px;
			margin-bottom: 10px;
		}
		img.alignright{
			float: right;
			margin-left: 10px;
			margin-bottom: 10px;
		}
	}
	.lpoverview-table{
		padding: 20px $main-gutter;
	}
	.lpoverview-table-row{
		margin-bottom: 5px;
		display: block;
	}
	.lpoverview-table-row-cell{
		@include font-style('h10');
		&.label{
			@include font-style('h10a');
			padding-right: 5px;
		}
	}
	.lpinfobox{
		padding: 25px $main-gutter;
		background-color: $blue;
		color: white;
		h3{
			@include font-style('h3c');
			margin-bottom: 10px;
		}
		ul{
			list-style-type: none;
			counter-reset: number;
			padding-left: 0px;
			margin-bottom: 20px;
		}
		li{
			font-weight: normal;
			margin-bottom: 10px;
			&:before{
				padding-right: 5px;
				counter-increment: number;
				content: counter(number)"\a0";
				font-size: 30px;
				font-weight: bold;
			}
			a{
				text-decoration: underline;
				color: $white;
			}
		}
		img{
			max-height: 150px;
			width: auto;
			display: block;
			margin-top: 10px;
		}
	}
	.lpinfobox-wrapper{
		max-width: $xlarge;
		margin: 0 auto;
		> h3:first-of-type{
			@include font-style('h3c');
			text-align: center;
			margin-bottom: 20px;
		}
	}
	.lpinfobox-pdf{
		display: inline-block;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		background-color: $green;
		text-decoration: none;
		padding: 15px 20px;
		margin: 20px 0px;
		color: $white;
		@include font-style('h6b');
	}

	.lpstandards-title{
		padding: 20px $main-gutter 40px $main-gutter;
		@include font-style('h3d');
		text-align: center;
	}
	.lpstandards-tabs{
		display: table;
		width: 100%;
	}
	.lpstandards-tabs-tab{
		padding: 40px 10px;
		text-align: center;
		display: table-cell;
		width: calc(100% / 3);
		vertical-align: middle;
		@include font-style('h10a');
		color: $white;
		cursor: pointer;
		&:nth-child(1){
			background-color: $orange;
		}
		&:nth-child(2){
			background-color: $pink;
		}
		&:nth-child(3){
			background-color: $blue;
		}
		&.tnactive--tab{
			.lpstandards-tabs-tab-arrow{
				width: 50px;
				margin: 10px auto 0px auto; 
			}
		}
	}
	.lpstandards-tabs-tab-arrow{
		width: 0px;
		display: block;
		margin: 0px auto; 
		transition: width 0.25s ease, margin 0.25s ease;
	}
	.lpstandards-items-item{
		display: none;
		padding: 20px $main-gutter;
		@include font-style('h10');
		&.tnactive--item{
			display: block;
		}
	}
	.lph1{
		@include font-style('h3d');
		padding: 20px $main-gutter 40px $main-gutter;
		max-width: $xlarge;
		margin: 0 auto;
	}
	.lpintro{
		background-color: $blue;
		color: $white;
		padding: 20px $main-gutter;
		a{
			color: $white;
			text-decoration: underline;
		}
	}
	.lpintro-title{
		@include font-style('h1b');
		text-align: center;
	}
	
	.lpsection{
		padding: 20px $main-gutter;
	}
	.lpsection-title{
		@include font-style('h3c');
		text-align: center;
		padding: 20px $main-gutter;
	}
	.lpfootertabs-wrapper{
		padding: 20px $main-gutter 60px $main-gutter;
	}
	.lpfootertabs-wrapper-items-item-tab{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@include font-style('h6');
		letter-spacing: 0px;
		color: $white;
		padding: 20px;
		cursor: pointer;
		&.tnactive--tab{
			.lpfootertabs-wrapper-items-item-tab-arrow{
				width: 50px;
				margin: 10px auto 0px auto;
			}
		}
	}
	.lpfootertabs-wrapper-items-item-tab-arrow{
		width: 0px;
		transition: width 0.25s ease, margin 0.25s ease;
	}
	.lpfootertabs-wrapper-items-item-content{
		@include font-style('h10');
		font-size: 16px;
		line-height: 1.25;
		padding: 20px 0px;
		display: none;
		&.tnactive--item{
			display: block;
		}
	}
	.lpstandards-tabs,
	.lpstandards-items,
	.lpintro-wrapper,
	.lpsection,
	.lpfootertabs-wrapper{
		max-width: $xlarge;
		margin: 0 auto;
	}
}

@media only screen and (min-width: $medium){
	.lpoverview{
		display: flex;
		flex-direction: row-reverse;
		align-items: flex-start;
	}
	.lpoverview-table,
	.lpoverview-image{
		flex: 1;
		width: 50%;
	}
	.lpoverview-image{
		object-fit: contain;
		padding: 0px $main-gutter 20px $main-gutter;
	}
	.lpoverview-table{
		padding-top: 0px;
	}
	.lpoverview-table-row-cell{
		&,
		&.label{
			@include font-style('h6');
		}
	}
	.lpinfobox{
		padding: 60px $main-gutter 40px $main-gutter;
		ul{
			column-count: 2;
		}
	}
	.lpinfobox-wrapper{
		> h3:first-of-type{
			@include font-style('h2');
			text-align: center;
			margin-bottom: 40px;
		}
	}
	.lpstandards-title{
		padding: 60px $main-gutter 20px $main-gutter;
		@include font-style('h2');
	}
	.lpstandards-tabs-tab{
		@include font-style('h3');
	}
	.lpstandards-items-item{
		font-size: 16px;
		line-height: 1.25;
	}
	.lph1{
		@include font-style('h1a');
		padding: 60px $main-gutter 40px $main-gutter;
	}
	.lpsection,
	.lpintro{
		padding: 40px $main-gutter;
	}
	.lpfootertabs-wrapper{
		padding: 40px $main-gutter 60px $main-gutter;
	}
	.lpintro-wrapper{
		padding-left: $main-gutter;
		padding-right: $main-gutter;
		&.twocol{
			column-count: 2;
		}
	}
	.lpsection-title{
		@include font-style('h1b');
	}
	.lpfootertabs-wrapper-items{
		position: relative;
	}
	.lpfootertabs-wrapper-items-item-tab{
		width: calc(50% - 10px);
		margin-right: 10px;
		flex-direction: row;
		padding: 30px;
	}
	.lpfootertabs-wrapper-items-item-tab-arrow{
		transform: rotate(-90deg);
		.lpfootertabs-wrapper-items-item-tab.tnactive--tab &{
			margin: 0px;
			width: 40px;
			margin-left: 20px;
		}
	}
	.lpfootertabs-wrapper-items-item-content{
		width: 50%;
		left: 50%;
		position: absolute;
		top: 0px;
		padding: 0px;
		padding-left: 10px;
	}
}
@media only screen and (min-width: $xlarge){
	.lpoverview{
		max-width: $xlarge;
		margin: 0 auto 60px auto;
	}
	.lpoverview-image{
		padding-right: 0px;
	}
}
