// Small devices (landscape phones, 576px and up)
$small : 576px;

// Medium devices (tablets, 768px and up)
$medium : 768px;

// Large devices (desktops, 992px and up)
$large : 992px;

// Large Plus
$largeplus : 1024px;

// Extra large devices (large desktops, 1240px and up)
$xlarge : 1240px;

// extra extra large
$xxlarge : 1400px;