@font-face {
    font-family: 'Roboto';
    src: url('../../lib/fonts/Roboto-Regular.woff2') format('woff2'),
        url('../../lib/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../lib/fonts/Roboto-BoldItalic.woff2') format('woff2'),
        url('../../lib/fonts/Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../lib/fonts/Roboto-Italic.woff2') format('woff2'),
        url('../../lib/fonts/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../lib/fonts/Roboto-Bold.woff2') format('woff2'),
        url('../../lib/fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../../lib/fonts/MyriadPro-Bold.woff2') format('woff2'),
        url('../../lib/fonts/MyriadPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../../lib/fonts/MyriadPro-It.woff2') format('woff2'),
        url('../../lib/fonts/MyriadPro-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../../lib/fonts/MyriadPro-BoldIt.woff2') format('woff2'),
        url('../../lib/fonts/MyriadPro-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../../lib/fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../../lib/fonts/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('../../lib/fonts/AcuminPro-Bold.woff2') format('woff2'),
        url('../../lib/fonts/AcuminPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('../../lib/fonts/AcuminPro-Italic.woff2') format('woff2'),
        url('../../lib/fonts/AcuminPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('../../lib/fonts/AcuminPro-BoldItalic.woff2') format('woff2'),
        url('../../lib/fonts/AcuminPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('../../lib/fonts/AcuminPro-Regular.woff2') format('woff2'),
        url('../../lib/fonts/AcuminPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

