@mixin font-smoothing($value: true) {
	@if ($value == true) {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	}
	@else {
		-moz-osx-font-smoothing: auto;
		-webkit-font-smoothing: subpixel-antialiased;
	}
}
@mixin transition($transition...) {
	-moz-transition:    $transition;
	-o-transition:      $transition;
	-webkit-transition: $transition;
	transition:         $transition;
}
@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}
@mixin optional-at-root($sel) {
	@at-root #{if(not &, $sel, selector-append(&, $sel))} {
		@content;
	}
}
@mixin placeholder {
	@include optional-at-root('::-webkit-input-placeholder') {
		@content;
	}

	@include optional-at-root(':-moz-placeholder') {
		@content;
	}

	@include optional-at-root('::-moz-placeholder') {
		@content;
	}

	@include optional-at-root(':-ms-input-placeholder') {
		@content;
	}
}
@mixin animation($animate...) {
	$max: length($animate);
	$animations: '';

	@for $i from 1 through $max {
		$animations: #{$animations + nth($animate, $i)};

		@if $i < $max {
			$animations: #{$animations + ", "};
		}
	}
	-webkit-animation: $animations;
	-moz-animation:    $animations;
	-o-animation:      $animations;
	animation:         $animations;
}

@mixin keyframes($animationName) {
	@-webkit-keyframes #{$animationName} {
		@content;
	}
	@-moz-keyframes #{$animationName} {
		@content;
	}
	@-o-keyframes #{$animationName} {
		@content;
	}
	@keyframes #{$animationName} {
		@content;
	}
}
@mixin font-size($sizeValue: 16) {
	font-size: $sizeValue + px;
	font-size: ($sizeValue / 10) + rem;
}
/*
This mixin can be used to set the object-fit:
@include object-fit(contain);
or object-fit and object-position:
@include object-fit(cover, top);
*/
@mixin object-fit($fit: fill, $position: null){
	-o-object-fit: $fit;
	object-fit: $fit;
	@if $position {
		-o-object-position: $position;
		object-position: $position;
		font-family: 'object-fit: #{$fit}; object-position: #{$position}';
	}
	@else {
		font-family: 'object-fit: #{$fit}';
	}
}

@mixin clearfix() {
	&::after {
		display: block;
		content: "";
		clear: both;
	}
}
@mixin cta($center: true){
	position: relative;
	text-decoration: none;
	color: $white;
	display: inline-block;
	@if($center){
		left: 50%;
		transform: translateX(-50%);
	}
	background-color: $black;
	padding: 10px 20px 8px 20px;
	font-weight: bold;
	@include font-style('h8');
	margin-top: 20px;
	transition: background-color 0.25s ease;
	border: 0;
	&:hover{
		background-color: lighten($black, 20%);
	}
	cursor: pointer;
}
@mixin textinput(){
	background-color: $white;
	padding: 9px 5px;
	box-sizing: border-box;
	appearance: none;
	box-shadow: 0;
	color: $black;
	@include font-style('h6c');
	letter-spacing: 0px;
	outline: 0;
	border: 1px solid $gray;
	transition: border-color 0.25s ease;
	border-radius: 0px;
	&::selection{
		background-color: $blue;
		color: $white;
	}
	&:focus{
		border: 1px solid $black;
	}
}