$main-gutter: 15px;
$section-max-width: 946px;

@media only screen {
	.section-wrapper{
		padding: 0px $main-gutter 80px $main-gutter;
		max-width: $section-max-width;
		margin: 0 auto;
	}
	.pagelogo{
		max-width: $xlarge;
		margin: 0 auto;
		a{
			display: table;
		}
		.gilogo{
			// display: none;
		}
	}
	.pagetitle{
		@include font-style("h3b");
		padding: 0px 15px 20px 15px;
		max-width: $xlarge;
		margin: 0 auto;
	}
	.pagewrap{
		margin-top: 40px;
		margin-bottom: 40px;
		&.index{
			max-width: $xlarge;
			margin-left: auto;
			margin-right: auto;
			padding-left: $main-gutter;
			padding-right: $main-gutter;
		}
	}
	.pagewrap-featuredimage{
		display: block;
		margin-bottom: 40px;
	}
	.tabnavactive--item{
		display: block;
	}
	a{
		color: $blue;
		text-decoration: none;
	}
	.commentlist{
		list-style: none;
		padding: 0;
		margin: 0;
		margin-left: auto;
		margin-right: auto;
		max-width: $section-max-width;
		padding: 20px $main-gutter 60px $main-gutter;
		ul,
		ol{
			list-style: none;
			padding: 0;
			margin: 0;
			margin-left: 40px;
		}
		.comment{
			padding: 20px 0px;
			.avatar{
				display: none;
			}
		}
	}
	#cancel-comment-reply-link{
		color: $orange;
	}
	.comment-metadata{
		time{
			color: black;
			pointer-events: none;
			@include font-style('h10');
		}
		.edit-link{
			margin-left: 20px;
		}
	}
	#comments{
		@include font-style('h4');
		margin-left: auto;
		margin-right: auto;
		max-width: $section-max-width;
		padding: 20px $main-gutter 0px $main-gutter;
	}
	.commentformwrap,
	.comment-respond{
		margin-left: auto;
		margin-right: auto;
		max-width: $section-max-width;
		padding: 20px $main-gutter 60px $main-gutter;
		textarea,
		input[type="text"],
		input[type="email"],
		input[type="url"]{
			@include textinput();
			width: 100%;
		}
		.comment-reply-title{
			@include font-style('h4');
		}
		.comment-notes{
			@include font-style('h7');
		}
		.comment-form-cookies-consent {
			input[type="checkbox"] {
				opacity: 0;
				position: absolute;
				+ {
					label {
						&::after {
							content: none;
						}
					}
				}
				&:checked {
					+ {
						label {
							&::after {
								content: "";
							}
							&::before{
								border-color: $black;
							}
						}
					}
				}
				&:focus {
					+ {
						label {
							&::before {
								outline: $blue auto 5px;
							}
						}
					}
				}
			}
			label {
				position: relative;
				display: inline-block;
				padding-left: 30px;
				&::before {
					position: absolute;
					content: "";
					display: inline-block;
					height: 16px;
					width: 16px;
					border: 1px solid $gray;
					left: 0px;
					top: 3px;
					transition: border-color 0.25s ease;
				}
				&::after {
					position: absolute;
					content: "";
					display: inline-block;
					height: 5px;
					width: 9px;
					border-left: 2px solid;
					border-bottom: 2px solid;
					transform: rotate(-45deg);
					left: 4px;
					top: 7px;
				}
			}
		}
		label{
			@include font-style('h6c');
			display: block;
		}
		input[type="submit"]{
			@include cta();
		}
	}
}

@media only screen and (min-width: $medium){
	.pagetitle{
		padding: 40px 15px 20px 15px;
		@include font-style('h1a');
	}
	.comment-form{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 5px 20px;
		.comment-notes,
		.comment-form-comment,
		.comment-form-cookies-consent,
		.form-submit{
			grid-column: 1 / 4;
		}
	}
}

@media only screen and (min-width: $xlarge){
	.pagewrap{
		margin-top: 53px;
		&.index{
			margin-top: 53px;
			padding-left: 0px;
			padding-right: 0px;
		}
	}
	.pagetitle{
		padding-right: 163px;
	}
	.pagelogo{
		.mainlogo{
			width: 300px;
			max-width: none;
			display: block;
		}
		.gilogo{
			display: block;
		}
	}
}