@media only screen {
	.archiveheading{
		background-color: $blue;
		margin-top: 0px;
		padding: 40px 20px;
	}
	.archiveheading-title,
	.archiveheading-subtitle{
		max-width: $xlarge;
		margin: 0 auto;
		color: $white;
		text-align: center;
	}
	.archiveheading-title{
		@include font-style('h2');
		margin-bottom: 20px;
	}
	.archiveheading-subtitle{
		@include font-style('h6');
	}

	.archivefilters-wrapper{
		max-width: $section-max-width;
		margin: 0 auto;
		padding: 40px 15px 0px 15px;
	}
	.archivefilters-wrapper-select{
		width: 100%;
	}
}

@media only screen and (min-width: $small){
	
}

@media only screen and (min-width: $medium){
	.archivefilters-wrapper{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
	}
	.archivefilters-wrapper-select{
		width: auto;
	}
}
@media only screen and (min-width: $largeplus){
	.archivefilters-wrapper{
		max-width: $xlarge;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		.blog &{
			justify-content: flex-start;
		}
	}
	.archivefilters-wrapper-select{
		min-width: 200px;
	}
}
@media only screen and (min-width: $xlarge){
	.archiveheading{
		margin-top: 53px;
	}
	.blog .archivefilters{
		margin-top: 53px;
	}
}
