@media only screen {
	body.home{
		overflow-x: hidden;
	}
	.homedesktoptiles{
		display: none;
	}
	.homehero-wrapper{
		max-width: $xlarge;
		margin: 0 auto;
	}
	.homehero-wrapper-image{
		display: block;
		margin: 40px 0px;
		cursor: pointer;
	}
	.homehero-wrapper-copy{
		padding: 0px 40px 40px 40px;
	}
	.homemobileinpagenav{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: 25vw;
	}
	.homemobileinpagenav-item{
		// background image shit
		background-size: cover;
		background-repeat: no-repeat;

		// links
		&:nth-child(14),
		&:nth-child(17),
		&:nth-child(20),
		&:nth-child(23),
		&:nth-child(26){
			grid-column: 2 / 4;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $white;
			@include font-style('h5');
			flex-direction: column;
		}
		&:nth-child(14){
			grid-row: 4 / 5;
		}
		&:nth-child(17){
			grid-row: 5 / 6;
		}
		&:nth-child(20){
			grid-row: 6 / 7;
		}
		&:nth-child(23){
			grid-row: 7 / 8;
		}

		// "links" always have pointer
		&[data-target]{
			cursor: pointer;
		}

		// colors
		&.green{
			background-color: $green;
		}
		&.blue{
			background-color: $blue;
		}
		&.pink{
			background-color: $pink;
		}
		&.orange{
			background-color: $orange;
		}
		&.aqua{
			background-color: $aqua;
		}

		// fancy arrow animation shit
		&.active{
			.homemobileinpagenav-item-arrow{
				width: 50px;
				margin-top: 10px;
			}
		}
	}
	.homemobileinpagenav-item-arrow{
		display: block;
		width: 0px;
		margin-top: 0px;
		transition: width 0.25s ease, margin-top 0.25s ease;
	}
	.homedesktopinpagenav{
		display: none;
	}
	.homecontent section{
		display: none;
		&.active{
			display: block;
		}
	}
	.homeheromodal{
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.7);
		&.visible{
			display: block;
		}
		z-index: 5000;
		display: none;
	}
	.homeheromodal-wrapper{
		background-color: $gray;
		padding: 40px;
		max-width: 700px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $black;
		text-align: center;
	}
}

@media only screen and (min-width: $medium){
	.homehero-wrapper{
		padding-left: 161px;
	}
	.homehero-wrapper-image{
		margin-left: 0px;
		margin-top: 0px;
		max-width: 590px;
	}
	.homehero-wrapper-copy{
		max-width: 590px;
		padding-left: 0px;
		box-sizing: content-box;
	}
	.homemobileinpagenav{
		display: none;
	}
	.homedesktopinpagenav{
		display: block;
		position: relative;
		max-width: $xlarge;
		margin: 0px auto;
		margin-bottom: 160px;
	}
	.homedesktopinpagenav-wrapper{
		font-size: 0;
		position: absolute;
		width: 100%;
	}
	.homedesktopinpagenav-wrapper-item.image{
		display: none;
	}
	.homecontent{
		max-width: $xlarge;
		margin: 0px auto 40px auto;
		padding: 20px;
	}
	.homedesktopinpagenav-wrapper-item{
		display: inline-flex;
		width: 25%;
		text-align: center;
		@include font-style('h3');
		color: white;
		padding: 40px 0px;
		vertical-align: top;
		transition: padding 0.25s ease;
		justify-content: center;
		flex-direction: column;
		align-content: center;
		&[data-target]{
			cursor: pointer;
			&:nth-child(1){
				background-color: $aqua;
			}
			&:nth-child(3){
				background-color: $green;
			}
			&:nth-child(5){
				background-color: $orange;
			}
			&:nth-child(7){
				background-color: $blue;
			}
		}
		&.active{
			padding: 30px;
			.homedesktopinpagenav-wrapper-item-arrow{
				width: 80px;
				margin-top: 10px;
			}
		}
	}
	.homedesktopinpagenav-wrapper-item-arrow{
		width: 0px;
		margin-top: 0px;
		transition: width 0.25s ease, margin-top 0.25s ease;
		display: block;
		margin: 0 auto;
	}
}
@media only screen and (min-width: $xlarge){
	.homehero-wrapper-image{
		max-width: none;
		width: 593px;
		height: 324px;
		object-fit: cover;
	}
	.homedesktopinpagenav{
		margin-top: 149px;
		margin-bottom: 360px;
	}
	.homedesktopinpagenav-wrapper-item{
		width: 162px;
		padding: 40px 30px;
		&.image{
			width: calc(592px / 3);
		}
	}
	.homedesktopinpagenav-wrapper-item.image{
		display: inline-flex;
		min-height: 136.5px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
	.homedesktoptiles{
		display: block;
		position: relative;
		max-width: $xlarge;
		margin: 0 auto;
	}
	.homedesktoptiles-tiles{
		position: absolute;
		top: 0px;
		right: 0px;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: calc(486px / 3);
		width: 486px;
		z-index: 50;
	}
	.homedesktoptiles-tiles-tile{
		// colors
		&.green{
			background-color: $green;
		}
		&.blue{
			background-color: $blue;
		}
		&.pink{
			background-color: $pink;
		}
		&.orange{
			background-color: $orange;
		}
		&.aqua{
			background-color: $aqua;
		}
	}
}
