@media only screen {
	.newsletters{
		max-width: $section-max-width;
		margin: 0 auto;
		padding: 0px $main-gutter;
	}
	.newsletters-header-year{
		@include font-style('h3c');
		display: inline-block;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	.newsletters-header-arrows{
		float: right;
		background-color: $aqua;
	}
	.newsletters-header-arrows-arrow{
		padding: 7px 12px 4px 12px;
		display: inline-block;
		&.disabled{
			pointer-events: none;
			background-color: $gray;
		}
	}
	.newsletters-header-arrows-arrow-icon{
		height: 15px;
	}
	.newsletters-items{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.newsletters-items-item{
		color: $black;
		margin-bottom: 30px;
		display: block;
	}
	.newsletters-items-item-top{
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid $black;
		margin-bottom: 5px;
		padding-bottom: 5px;
		@include font-style('h6d');
	}
	.newsletters-items-item-bottom{
		@include font-style('h6c');
	}
	.newsletters-footer{
		background-color: $blue;
		color: $white;
		padding: 30px;
	}
}

@media only screen and (min-width: $medium){
	.newsletters-header-year{
		@include font-style('h2');
	}
	.newsletters-items{
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.newsletters-items-item-top{
		@include font-style('h3');
	}
	.newsletters-items-item-bottom{
		@include font-style('h2b');
	}
	.newsletters-header-arrows-arrow{
		padding: 9px 18px 6px 18px;
	}
	.newsletters-header-arrows-arrow-icon{
		height: 25px;
	}
}
@media only screen and (min-width: $large){
	
}
