@media only screen {
	.cta-wrapper{
		padding-bottom: 0px;
		margin: 80px auto 40px auto;
		position: relative;
	}
	.cta-wrapper-title{
		@include font-style('h1b');
		text-align: center;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -100%);
		top: 0px;
		line-height: 20px;
		width: 100%;
	}
	.cta-wrapper-content{
		@include font-style('h6b');
		color: $white;
		text-align: center;
		padding: 40px 0px 70px 0px;
	}
	.cta-wrapper-cta{
		@include cta();
		position: absolute;
		bottom: 0px;
		left: 50%;
		transform: translate(-50%, 0%);
	}
}

@media only screen and (min-width: $medium){
	.cta-wrapper-title{
		@include font-style('h1c');
	}
	.cta-wrapper-content{
		@include font-style('h2');
	}
}
@media only screen and (min-width: $xlarge){
	.cta-wrapper{
		margin: 120px auto;
	}
}
