@media only screen {
	.gallerymodule-wrapper{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
		&.nano{
			.gallerymodule-wrapper-item{
				&:nth-child(1),
				&:nth-child(11n),
				&:nth-child(19n){
					grid-row: span 1;
					grid-column: span 1;
				}
			}
		}
	}
	.gallerymodule-wrapper-item{
		padding-bottom: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		cursor: pointer;
		position: relative;
		&:nth-child(1),
		&:nth-child(11n),
		&:nth-child(19n){
			grid-row: span 2;
			grid-column: span 2;
		}
		&.cta{
			color: $white;
			text-decoration: none;
		}
	}
	.gallerymodule-wrapper-item-text{
		position: absolute;
		top: 20px;
		left: 20px;
		@include font-style('h3c');
	}
	.gallerymodule-wrapper-item-seemore{
		position: absolute;
		bottom: 20px;
		right: 20px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		@include font-style('h9');
	}
	.gallerymodule-wrapper-item-seemore-arrow{
		width: 10px;
		display: inline-block;
		margin-left: 10px;
	}
}
@media only screen and (min-width: $small){
	.gallerymodule-wrapper{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 10px;
	}
	.gallerymodule-wrapper-item-text{
		font-size: 30px;
		width: calc(100% - 40px);
	}
}
@media only screen and (min-width: $medium){
	.gallerymodule-wrapper{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 20px;
	}
	.gallerymodule-wrapper-item-seemore{
		@include font-style('h3');
	}
	.gallerymodule-wrapper-item-text{
		@include font-style('h1d');
	}
}
@media only screen and (min-width: $large){
	.gallerymodule-wrapper-item.cta{
		&:hover{
			.gallerymodule-wrapper-item-seemore-arrow{
				width: 10px;
			}
		}
	}
	.gallerymodule-wrapper-item-seemore-arrow{
		width: 0px;
		transition: width 0.25s ease;
	}
}
