@media only screen {
	.calendarmodule .fc-view-basicWeek .fc-day > div{
		min-height: 150px !important;
	}
	.calendarmodule-wrapper-cta{
		@include cta();
	}
}

@media only screen and (min-width: $small){

}

@media only screen and (min-width: $medium){
	
}
@media only screen and (min-width: $large){
	
}
