@media only screen {
	.mainnav{
		position: fixed;
		width: 100%;
		top: 0px;
		background-color: black;
		z-index: 20;
	}
	.mainnavbuffer{
		height: 58px;
	}
	.mainnav-wrapper{
		max-width: $xlarge;
		margin: auto;
	}
	.mainnav-wrapper-menu{
		display: none;
	}
	.mainnav-wrapper-menu-items,
	.mainnav-wrapper-menu-items-item-subitems{
		margin-bottom: 0px;
		list-style: none;
	}
	.mainnav-wrapper-menu-items{
		padding: 20px;
	}
	.mainnav-wrapper-menu-items-item-link{
		display: block;
		padding: 5px 0px;
		@include font-style('h6b');
	}
	.mainnav-wrapper-menu-items-item-link,
	.mainnav-wrapper-menu-items-item-subitems-item-link{
		text-decoration: none;
		color: $white;
	}
	.mainnav-wrapper-menu-items-item-subitems{
		padding-left: 20px;
	}
	.mainnav-wrapper-mobilebar{
		text-align: right;
	}
}

@media only screen and (min-width: $small){

}

@media only screen and (min-width: $medium){
	.mainnavbuffer{
		height: 0px;
	}
	.mainnav{
		position: relative;
	}
	.mainnav-wrapper-mobilebar{
		display: none;
	}
	.mainnav-wrapper-menu{
		display: block;
	}
	.mainnav-wrapper-menu-items-item{
		display: inline-block;
		vertical-align: top;
		position: relative;
		padding: 10px 50px 10px 0px;
		&:nth-child(1){
			.mainnav-wrapper-menu-items-item-link{
				color: $green;
			}
		}
		&:nth-child(2){
			.mainnav-wrapper-menu-items-item-link{
				color: $blue;
			}
		}
		&:nth-child(3){
			.mainnav-wrapper-menu-items-item-link{
				color: $orange;
			}
		}
		&:nth-child(4){
			.mainnav-wrapper-menu-items-item-link{
				color: $pink;
			}
		}

	}
	.mainnav-wrapper-menu-items-item-link{
		@include font-style('h3a');
	}
	.mainnav-wrapper-menu-items-item:hover{
		.mainnav-wrapper-menu-items-item-subitems{
			pointer-events: all;
			opacity: 1;
		}
	}
	.mainnav-wrapper-menu-items-item-subitems{
		padding: 0px;
		position: absolute;
		background-color: $gray;
		left: 0;
		white-space: nowrap;
		min-width: 160px;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.25s ease;
	}
	.mainnav-wrapper-menu-items-item-subitems-item{
		&:not(:last-child){
			border-bottom: 1px solid $white;
		}
	}
	.mainnav-wrapper-menu-items-item-subitems-item-link{
		padding: 10px;
		display: block;
		@include font-style('h4');
		color: $black;
	}
}
@media only screen and (min-width: $xlarge){
	.mainnav-wrapper-menu-items{
		padding: 84px 20px 26px 20px;
	}
}
