@media only screen {
	.footernav{
		font-size: 0;
	}
	.footernav-band-main,
	.footernav-band-logocontainer{
		display: inline-block;
		vertical-align: top;
	}
	.footernav-band-logocontainer{
		width: 25vw;
		svg{
			width: 100%;
		}
		.mainlogo{
			max-width: none;
		}
		.pagelogo a{
			position: relative;
		}
	}
	.footernav-band-main{
		width: 75vw;
		background-color: $gray;
		padding: 5px 20px;
	}
	.footernav-band-main-header,
	.footernav-band-main-description,
	.footernav-band-main-signup,
	.footernav-band-main-social{
		background-color: $gray;
		padding: 5px 20px;
	}
	.footernav-band-main-left-header{
		@include font-style('h6b');
		color: $white;
		padding-top: 20px;
		margin-bottom: 5px;
	}
	.footernav-band-main-left-description{
		@include font-style('h12');
	}
	.footernav-band-main-left-signup{
		margin: 10px 0px;
	}
	.footernav-band-main-left-signup-link{
		@include cta(false);
		margin: 5px 10px 0px 0px;
		&:last-of-type{
			background-color: $blue;
		}
	}
	.footernav-band-main-right-social{
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.footernav-band-main-right-social-item{
		display: inline-block;
	}
	.footernav-band-main-right-social-item-link{
		padding: 0px 10px 0px 0px;
	}
	.footernav-band-main-right-social-item-link-icon{
		max-width: 17px;
		max-height: 18px;
	}
	.footernav-copyright{
		@include font-style('h13');
		padding-bottom: 10px;
		padding-left: 25%;
		padding-top: 10px;
	}
	.footernav-copyright-links-link{
		color: $black;
	}
}

@media only screen and (min-width: $medium){
	.footernav-band{
		display: flex;
		flex-direction: row-reverse;
		max-width: $xlarge;
		margin: 0 auto;
	}
	.footernav-band-logocontainer{
		width: 200px;
		display: flex;
		background-color: $blue;
		justify-content: center;
	}
	.footernav-band-logocontainer .mainlogo {
	    width: 200px;
	}
	.footernav-band-main{
		width: calc(100% - 200px);
	}
	.footernav-band-main{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.footernav-band-main-left,
	.footernav-band-main-right{
		flex: 1;
	}
	.footernav-band-main-left-header{
		@include font-style('h2a');
		padding-top: 0px;
	}
	.footernav-band-main-left-description{
		@include font-style('h7');
	}
	.footernav-band-main-left-signup-link{
		@include font-style('h8');
	}
	.footernav-band-main-right-social{
		display: flex;
		justify-content: space-around;
	}
	.footernav-band-main-right-social-item-link-icon{
		max-width: 27px;
		max-height: 23px;
	}
	.footernav-copyright{
		@include font-style('h8');
		padding: 10px 10px 10px 20px;
		margin: 40px auto;
		max-width: $xlarge;
		text-align: right;
		br{
			display: none;
		}
	}
	.footernav-copyright-links,
	.footernav-copyright-text{
		display: inline-block;
	}
	.footernav-copyright-text,
	.footernav-copyright-links-link{
		margin-left: 40px;
	}
}

@media only screen and (min-width: $xlarge){
	.footernav-band{
		position: relative;
	}
	.footernav-band-grayblock{
		position: absolute;
		top: 0px;
		right: 100%;
		bottom: 0px;
		width: 100%;
		background-color: $gray;
	}
	.footernav-band-logocontainer{
		width: 162px;
	}
	.footernav-band-main{
		width: calc(100% - 162px);
	}
	.footernav-band-logocontainer .mainlogo{
		width: 162px;
	}
}
























