@media only screen {
	.oembedgrid-wrapper-title{
		@include font-style('h2');
		text-align: center;
		margin-bottom: 40px;
	}
	.oembedgrid-wrapper-item{
		margin-bottom: 40px;
	}
	.oembedgrid-wrapper-item-text-title{
		@include font-style('h3');
		color: $pink;
		margin: 5px 0px;
	}
	.oembedgrid-wrapper-item-text-desc{
		@include font-style('h6');
	}
	.oembedgrid-wrapper-item-oembed{
		iframe{
			width: 100%;
		}
	}
}

@media only screen and (min-width: $medium){
	.oembedgrid-wrapper{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
	}
}
@media only screen and (min-width: $large){
	.oembedgrid-wrapper{
		display: block;
	}
	.oembedgrid-wrapper-item{
		display: flex;
		align-items: flex-start;
		flex-direction: row;
	}
	.oembedgrid-wrapper-item-text,
	.oembedgrid-wrapper-item-oembed{
		flex: 1;
	}
	.oembedgrid-wrapper-item-text{
		padding-left: 10px;
	}
	.oembedgrid-wrapper-item-oembed{
		padding-right: 10px;
	}
	.oembedgrid-wrapper-item-text-title{
		margin-top: 0px;
	}
}
