@media only screen {
	.casestudylist{
		padding: 60px 0px;
	}
	.casestudylist-title{
		@include font-style('h3');
		text-align: center;
		margin-bottom: 40px;
	}
	.casestudylist-wrapper-casestudy{
		margin-bottom: 40px;
	}
	.casestudylist-wrapper-casestudy-stats{
		padding: 20px;
		@include font-style('h3c');
		color: white;
		p{
			margin-bottom: 0px;
		}
		.huge{
			@include font-style('h2');
			display: block;
			padding-top: 5px;
		}
	}
	.casestudylist-wrapper-casestudy-main{
		padding: 20px;
		background-color: $gray;
		@include font-style('h10');
	}
	.casestudylist-wrapper-casestudy-main-attrs{
		@include font-style('h10a');
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.casestudylist-wrapper-casestudy-main-attrs-attr:nth-child(2){
		margin-bottom: 10px;
	}
}

@media only screen and (min-width: $medium){
	.casestudylist-wrapper-casestudy{
		display: flex;
		flex-direction: row;
		&:nth-child(odd){
			flex-direction: row-reverse;
		}
	}
	.casestudylist-wrapper-casestudy-main{
		width: calc(200% / 3);
	}
	.casestudylist-wrapper-casestudy-stats{
		width: calc(100% / 3);
		display: flex;
		justify-content: center;
		align-items: center;
		@include font-style('h3');
		.huge{
			@include font-style('h1d');
		}
	}
	.casestudylist-wrapper-casestudy-main{
		@include font-style('h6');
	}
	.casestudylist-wrapper-casestudy-main-attrs-attr{
		@include font-style('h3a');
		line-height: 1.4;
	}
}
@media only screen and (min-width: $xlarge){
	.casestudylist-wrapper-casestudy-main-attrs{
		column-count: 2;
		margin-top: 20px;
	}
	.casestudylist-wrapper-casestudy-main-attrs-attr{
		&:nth-child(2){
			margin-bottom: 0px;
		}
	}
}
