@media only screen {
	.mainlogo{
		max-width: 200px;
	}
	.gilogo{
		width: 200px;
		position: relative;
		top: 144px;
	}
	.footernav .gilogo{
		top: 0px;
	}
}

@media only screen and (min-width: $xlarge){
	.footernav .gilogo{
		transform: scale(1.2);
	}
}
