@media only screen {
	.nup-wrapper-title{
		margin-bottom: 40px;
		@include font-style('h3');
		text-align: center;
	}
	.nup-wrapper-items-item{
		display: block;
		text-decoration: none;
		color: $white;
		text-align: center;
		padding: 40px;
		@include font-style('h3');
		background-position: center center;
		background-repeat: no-repeat;
		&.hovermode{
			transition: background-color 0.25s ease;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    p{
		    	margin-bottom: 0px;
		    }
			.nup-wrapper-items-item-content{
				opacity: 0;
				pointer-events: none;
				transition: opacity 0.25s ease;
				position: relative;
				z-index: 10;
			}
			&:hover{
				&:after{
					opacity: 0 !important;
				}
				.nup-wrapper-items-item-content{
					opacity: 1;
					pointer-events: all;
				}
			}
		}
	}
	.nup-wrapper-cta{
		@include cta();
	}
}

@media only screen and (min-width: $medium){
	.nup-wrapper-title{
		@include font-style('h2');
	}
	.nup-wrapper-items{
		display: grid;
		grid-template-columns: repeat(attr(data-cols), 1fr);
	}
}
@media only screen and (min-width: $large){
	
}
