@media only screen {
	
	.feedmodule-wrapper-title{
		@include font-style('h3');
		text-align: center;
		margin-bottom: 40px;
	}
	.feedmodule-wrapper-posts-post{
		text-decoration: none;
		color: $black;
		margin-bottom: 20px;
		display: block;
	}
	.feedmodule-wrapper-posts-post-text-title{
		padding: 10px 0px 5px 0px;
		color: $aqua;
		@include font-style('h3');
	}
	.feedmodule-wrapper-posts-post-text-description{
		@include font-style('h7');
	}
	.feedmodule-wrapper-cta{
		@include cta();
	}
}

@media only screen and (min-width: $medium){
	.feedmodule-wrapper-title{
		@include font-style('h2');
	}
	.feedmodule-wrapper-posts-post{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}
	.feedmodule-wrapper-posts-post-text,
	.feedmodule-wrapper-posts-post-image{
		flex: 1;
	}
	.feedmodule-wrapper-posts-post-image{
		padding-right: 10px;
		width: 50%;
	}
	.feedmodule-wrapper-posts-post-text{
		padding-left: 10px;
	}
	.feedmodule-wrapper-posts-post-text-title{
		padding-top: 0px;
	}
}
@media only screen and (min-width: $xlarge){
	.feedmodule-wrapper-posts-post{
		margin-bottom: 40px;
	}
}
