@media only screen {
	.desktoptiles{
		display: none;
	}
}

@media only screen and (min-width: $xlarge){
	.desktoptiles{
		display: block;
		position: relative;
		max-width: $xlarge;
		margin: 0 auto;
	}
	.desktoptiles-tiles{
		position: absolute;
		top: 0px;
		right: 0px;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: calc(486px / 3);
		width: 486px;
		z-index: 50;
	}

	.desktoptiles-tiles-tile{
		// colors
		&.green{
			background-color: $green;
		}
		&.blue{
			background-color: $blue;
		}
		&.pink{
			background-color: $pink;
		}
		&.orange{
			background-color: $orange;
		}
		&.aqua{
			background-color: $aqua;
		}
	}
}
